.successcontainer {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 100px auto; /* Center the container vertically */
    width: 90%; /* Adjust for smaller screens */
    max-width: 400px;
  }
  
  .successicon {
    font-size: 50px;
    color: #4CAF50;
    margin-bottom: 15px;
  }
  
  .successmessage {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .successdescription {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }
  
  .successcontainer button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .successcontainer button:hover {
    background-color: #45a049;
  }
  